body {
     margin: 5px;
     padding: 0;
     text-align: left;
     max-width: 550px;
}

article {
    padding-bottom: 150px;
}

nav {
    padding-bottom: 200px;
}

#yes-please {
    color: #da22ff;
    background-color: black;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color : #222222;
}

.author {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    color : #454545;
}

img {
    max-width: 500px;
}

figcaption {
    font-size: 12px;
}